<div class="header-container">
    <div class="item">
        <h1 class="logo">Wiken</h1>
    </div>
    <div class="menu">
        <div class="subitem">
            <a href="#" class="btn-icon active" data-tooltip="Inicio">
                <i class="bi-house-fill"></i>
            </a>
        </div>
        <div class="subitem">
            <a href="#" class="btn-icon" data-tooltip="Almacén">
                <i class="bi-archive"></i>
            </a>
        </div>
        <div class="subitem">
            <a href="#" class="btn-icon" data-tooltip="Documentos">
                <i class="bi-briefcase"></i>
            </a>
        </div>
        <div class="subitem">
            <a href="#" class="btn-icon" data-tooltip="Networking">
                <i class="bi-clouds"></i>
            </a>
        </div>
        <div class="subitem">
            <a href="#" class="btn-icon" data-tooltip="Mensajes">
                <i class="bi-chat-right-text"></i>
            </a>
        </div>
    </div>
    <div class="item">
        <p><small>Options</small></p>
    </div>
</div>