[data-tooltip] {
    position: relative;
  }
  
  [data-tooltip]::after {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    content: attr(data-tooltip);
    left: 0;
    top: calc(100% + 10px);
    border-radius: 3px;
    box-shadow: 0 0 5px 2px rgba(100, 100, 100, 0.6);
    background-color: rgba($color: #ffffff, $alpha: .8);
    z-index: 10;
    color: #000;
    margin: auto;
    padding: 8px;
    width: auto;
    transform: translate(50%, 0);
    transition: all 150ms cubic-bezier(.25, .8, .25, 1);
  }
  
  [data-tooltip]:hover::after {
    opacity: 1;
    transition-duration: .3s;
  }