<h1>VUI Fonts</h1>

<ul>
    <li><h1>This is a title 1</h1></li>
    <li><h2>This is a title 2</h2></li>
    <li><h3>This is a title 3</h3></li>
    <li><h4>This is a title 4</h4></li>
    <li><h5>This is a title 5</h5></li>
    <li><h6>This is a title 6</h6></li>
</ul>

<h1 class="color-1">This is a text with color rgba opacity</h1>
<ul>
    <li><h2 class="opacity-9">Text opacity .9</h2></li>
    <li><h2 class="opacity-8">Text opacity .8</h2></li>
    <li><h2 class="opacity-7">Text opacity .7</h2></li>
    <li><h2 class="opacity-6">Text opacity .6</h2></li>
    <li><h2 class="opacity-5">Text opacity .5</h2></li>
    <li><h2 class="opacity-4">Text opacity .4</h2></li>
    <li><h2 class="opacity-3">Text opacity .3</h2></li>
    <li><h2 class="opacity-2">Text opacity .2</h2></li>
    <li><h2 class="opacity-1">Text opacity .1</h2></li>
</ul>


<h5 class="title-post-atom">Title Post</h5>

<span class="date-post-atom">Time published post</span>

<span class="notification-number-atom">6</span>

<div class="post-image-atom" style="background-image: url('https://okdiario.com/img/2020/02/03/-que-hora-es-en-el-espacio-esta-es-la-respuesta-655x368.jpg');"></div>

<h1>Welcome to VUI Fremework UI</h1>



<h3 class="color-1">This is a color 1</h3>
<h3 class="color-2">This is a color 2</h3>
<h3 class="color-3">This is a color 3</h3>
<h3 class="color-4">This is a color 4</h3>
<h3 class="color-5">This is a color 5</h3>
<h3 class="color-6">This is a color 6</h3>

<p class="text-left">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt similique at reprehenderit reiciendis! Sint corrupti, rem reiciendis excepturi obcaecati, eligendi itaque facilis repudiandae at ipsam animi aperiam error? Laudantium reiciendis praesentium numquam consequuntur quod placeat omnis quos error illum laboriosam impedit rem, similique quibusdam quia nihil perferendis tenetur molestias, modi voluptatem minus eveniet dolor voluptatum eaque. Error quaerat voluptas dolor!</p>
<p class="text-right">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt similique at reprehenderit reiciendis! Sint corrupti, rem reiciendis excepturi obcaecati, eligendi itaque facilis repudiandae at ipsam animi aperiam error? Laudantium reiciendis praesentium numquam consequuntur quod placeat omnis quos error illum laboriosam impedit rem, similique quibusdam quia nihil perferendis tenetur molestias, modi voluptatem minus eveniet dolor voluptatum eaque. Error quaerat voluptas dolor!</p>
<p class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt similique at reprehenderit reiciendis! Sint corrupti, rem reiciendis excepturi obcaecati, eligendi itaque facilis repudiandae at ipsam animi aperiam error? Laudantium reiciendis praesentium numquam consequuntur quod placeat omnis quos error illum laboriosam impedit rem, similique quibusdam quia nihil perferendis tenetur molestias, modi voluptatem minus eveniet dolor voluptatum eaque. Error quaerat voluptas dolor!</p>
<p class="text-justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt similique at reprehenderit reiciendis! Sint corrupti, rem reiciendis excepturi obcaecati, eligendi itaque facilis repudiandae at ipsam animi aperiam error? Laudantium reiciendis praesentium numquam consequuntur quod placeat omnis quos error illum laboriosam impedit rem, similique quibusdam quia nihil perferendis tenetur molestias, modi voluptatem minus eveniet dolor voluptatum eaque. Error quaerat voluptas dolor!</p>

<div class="bg-1">
    <p>This is background color 1</p>
</div>

<div class="bg-2">
    <p>This is background color 2</p>
</div>

<div class="bg-3">
    <p>This is background color 3</p>
</div>

<div class="bg-4">
    <p>This is background color 4</p>
</div>

<div class="bg-5">
    <p>This is background color 5</p>
</div>

<div class="bg-6">
    <p>This is background color 6</p>
</div>
