// System Design
// Atomic Design
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

// Colors configuration
$color-1: red;
$color-2: green;
$color-3: yellow;
$color-4: blue;
$color-5: gray;
$color-6: gray;

// Fonts configuration
$font-1: 'Open Sans', sans-serif;
$font-2: 'Open Sans', sans-serif;
$font-3: 'Open Sans', sans-serif;
$font-4: 'Open Sans', sans-serif;
$font-5: 'Open Sans', sans-serif;
$font-6: 'Open Sans', sans-serif;