// System Design
// Atomic Design

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

// Colors configuration
$color-1: red;
$color-2: green;
$color-3: yellow;
$color-4: blue;
$color-5: pink;
$color-6: gray;

// Fonts configuration
$font-1: 'Open Sans', sans-serif;
$font-2: 'Open Sans', sans-serif;
$font-3: 'Open Sans', sans-serif;
$font-4: 'Open Sans', sans-serif;
$font-5: 'Open Sans', sans-serif;
$font-6: 'Open Sans', sans-serif;

h1, h2, h3, h4, h5, h6 {
    font-family: $font-1;
}

p {
    font-family: $font-1;
}

// Colors class configuration
.color-1 {
    color: $color-1;
}
.color-2 {
    color: $color-2;
}
.color-3 {
    color: $color-3;
}
.color-4 {
    color: $color-4;
}
.color-5 {
    color: $color-5;
}
.color-6 {
    color: $color-6;
}

// Background colors class configuration
.bg-1 {
    background-color: $color-1;
}
.bg-2 {
    background-color: $color-2;
}
.bg-3 {
    background-color: $color-3;
}
.bg-4 {
    background-color: $color-4;
}
.bg-5 {
    background-color: $color-5;
}
.bg-6 {
    background-color: $color-6;
}

// Text align configuration
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-justify {
    text-align: justify;
}




/*
Atomic Design
components
│   ├── atoms
│   │   ├── button
│   │   ├── card
│   │   ├── form
│   │   │   └── select
│   │   ├── icon-field
│   │   ├── icons
│   │   ├── input
│   │   ├── text
│   │   └── well
│   ├── molecules
│   │   ├── account-forgot
|		|		...
|   ├── organisms
│   │   ├── accordion
│   │   ├── board
│   │   ├── card-feed
|		|		...
├── styles
│   ├── _settings.scss
│   ├── app.scss
│   ├── critical.scss
│   ├── documentation.scss
│   ├── icons.scss
│   ├── mixins
│   │   ├── _materials.scss
│   │   ├── _shadows.scss
│   │   └── _well.scss
│   └── vendor
|
*/
