// @import url('settings.scss');

h1, h2, h3, h4, h5, h6 {
    font-family: $font-1;
    color: $color-light;
    &.opacity-1 {
        color: rgba($color: $color-light, $alpha: .1);
    }
    &.opacity-2 {
        color: rgba($color: $color-light, $alpha: .2);
    }
    &.opacity-3 {
        color: rgba($color: $color-light, $alpha: .3);
    }
    &.opacity-4 {
        color: rgba($color: $color-light, $alpha: .4);
    }
    &.opacity-5 {
        color: rgba($color: $color-light, $alpha: .5);
    }
    &.opacity-6 {
        color: rgba($color: $color-light, $alpha: .6);
    }
    &.opacity-7 {
        color: rgba($color: $color-light, $alpha: .7);
    }
    &.opacity-8 {
        color: rgba($color: $color-light, $alpha: .8);
    }
    &.opacity-9 {
        color: rgba($color: $color-light, $alpha: .9);
    }
}

p {
    font-family: $font-1;
}

.logo {
    font-size: 1.5vw;
}

.opt-title {
    font-size: .9em;
}
// Colors class configuration
.color-1 {
    color: $color-1;
}
.color-2 {
    color: $color-2;
}
.color-3 {
    color: $color-3;
}
.color-4 {
    color: $color-4;
}
.color-5 {
    color: $color-5;
}
.color-6 {
    color: $color-6;
}

// Background colors class configuration
.bg-1 {
    background-color: $color-1;
}
.bg-2 {
    background-color: $color-2;
}
.bg-3 {
    background-color: $color-3;
}
.bg-4 {
    background-color: $color-4;
}
.bg-5 {
    background-color: $color-5;
}
.bg-6 {
    background-color: $color-6;
}

// Text align configuration
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-justify {
    text-align: justify;
}

// button with icons configuration
.btn-icon {
    text-align: center;
    padding: 10px;    
    display: block;
    transition: all .2s;
    i {
        font-size: 1.6em;
        color: rgba($color: $color-light, $alpha: .8);
    }
    &.active {
        i {
            color: $color-1;
        }
    }
    &:hover {
        background-color: rgba($color: $color-light, $alpha: .1);
        border-radius: 6px;
        i {
            color: rgba($color: $color-light, $alpha: 1);
        }
    }
}

//image profile
.img-profile {
    border-radius: 50%;
    transition: .2s;
    &:hover {
        filter: brightness(1.5);
    }
}

//storie
.storie-atom {
    width: 140px;
    height: 230px;
    overflow: hidden;
    position: relative;
    border-radius: 16px;
    .bg-image {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        transition: .6s;
        &:hover {
            transform: scale(1.1);
        }
    }
}

//post-image
.post-image-atom {
    width: 460px;
    height: 460px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-post-atom {
    font-size: 1em;
}

.date-post-atom {
    font-size: .8em;
    color: rgba($color: $color-light, $alpha: .6);
}

.notification-number-atom {
    width: 18px;
    height: 18px;
    display: block;
    line-height: 18px;
    text-align: center;
    margin: auto;
    border-radius: 50%;
    background-color: red;
    color: $color-light;
    font-size: .8em;
}