@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

$color_1: #2d88ff;
$color_2: green;
$color_3: yellow;
$color_4: blue;
$color_5: gray;
$color_6: red;

$bg-color: #18191a;
$color_light: #ffffff;
$color-dark: #000000;

$font-1: 'Open Sans', sans-serif;
$font-2: 'Open Sans', sans-serif;
$font-3: 'Open Sans', sans-serif;
$font-4: 'Open Sans', sans-serif;
$font-5: 'Open Sans', sans-serif;
$font-6: 'Open Sans', sans-serif;